/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

.inl{
    display: inline;
}

.inl-bl{
    display: inline-block;
}

body{
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    background-color: #151922;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    height: calc(100% - 90px);
}


/************************
    sidebar
************************/


.menu{
    background-color: #000000;
    padding: 12px 0 8px;
    width: 50px;
    flex-shrink: 0;
    gap: 20px;
    flex-direction: column;  
    overflow: hidden;  
}

.menu > *{
    padding: 0 15px 0 15px;
}

.logo-big{
    display: none;
    padding-right: 40px;
}


.link, .playlist a, .install{
    opacity: 0.5;
}

.menu a{
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.link li span, .menu-bottom span{
    display: none;
}

.link span, .playlist span, .menu-bottom span{
    font-size: small;
}

h3{
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 15px;
}

.playlist{
    display: none;
}

.playlist ul{
    flex-direction: column;
    gap: 10px;
}

.fa-plus{
    color: #000000;
    font-weight: 900;
}

.plus-btn{
    background-color: #ffffff;
    padding: 13px 15px;
}

.menu-bottom{
    margin-top: auto;
}

.install{
    opacity: 0.3;
}

.menu-bottom hr{
    border: 1px solid #ffffff;
    display: none;
    margin-bottom: 15px;
}

.profile-img{
    background-color: #666666;
    border-radius: 50%;
}





/************************
    main
************************/

.home{
    flex-grow: 1;
    overflow: auto;
}

.top-bar{
    background-color: rgb(0, 0, 0, 0.5);
    height: 90px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.upgrade{
    color: #ffffff;
    padding: 15px 40px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-size: 15px;
}

.upgrade:hover{
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
}

.categorie{
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    font-weight: 700;
    padding: 20px 30px 30px;
    font-size: 10px;
}

.categorie li{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.categorie li a{
    color: #7d7f84;
}

.hover-categoria{
    width: 33%;
    border-color: #adff2f;
    opacity: 0;
}

.categorie li:hover{
    .hover-categoria{
        opacity: 1;
    }
}



/************************
    footer
************************/

footer{
    height: 90px;
    background-color: #282828;
}






@media screen and (min-width:576px){

    .logo-small{
        display: none;
    }
    .logo-big{
        display: block;
    }

    .menu{
        width: 230px;
    }

    .link li span, .menu-bottom span{
        display: inline;
    }

    .link img, .playlist img, .menu-bottom img{
        max-width: 25px;
    }

    .menu-bottom hr{
        display: block;
    }
    
    .playlist{
        display: block;
    }
}